config MTK_SYSTRACKER
        bool "Enable MTK System Tracker Debugger"
        help
          SYSTRACKER is a hardware debugger to record timeout transaction and trigger SLV_ERR or interrupt to notify CPU.

config MTK_SYSTRACKER_V2
        bool "Enable MTK System Tracker Debugger V2"
        help
          SYSTRACKER is a hardware debugger to record timeout transaction and trigger SLV_ERR or interrupt to notify CPU.
	  Support 2 stage timeout & watchpoint SLV_ERR
