# Memory Card
config MTK_MMC
	tristate "MediaTek SD/MMC Card Interface support"
	help
	  This selects the MediaTek(R) Secure digital and Multimedia card 
	  Interface. If you have a machine with a integrated SD/MMC card 
	  reader, say Y or M here. If unsure, say N.

config MTK_EMMC_SUPPORT
	bool "MTK_EMMC_SUPPORT"
	depends on MTK_MMC
	help
	  This enables using embedded Multimedia card (eMMC) as booting 
	  device on MTK platform. Say Y if you turns on MTK_EMMC and want to 
	  use eMMC as booting device. If unsure, say N.


menuconfig MTK_EMMC_CACHE
	tristate "eMMC Cache"
	depends on MTK_EMMC_SUPPORT
	default n
	help
	  This enables eMMC cache scheme designed by MTK. Say Y if you turns 
	  on MTK_EMMC_SUPPORT and want to use MTK eMMC cacheas scheme. 
	  If unsure, say N.

config MTK_EMMC_SUPPORT_OTP
	tristate "MediaTek eMMC Card OTP support"
	depends on MTK_EMMC_SUPPORT
	help
	  This enables MTK One-Time-Programming (OTP) partition support on eMMC
	  device. Say Y if you turns on MTK_EMMC and want to use MTK OTP 
	  partition for storing One-Time-Programming data. If unsure, say N.

config MTK_SDIOAUTOK_SUPPORT
        tristate "MediaTek SDIO Auto-K support (for SDIO 3.0)"
        depends on MTK_MMC
        default n
        help
          This enables MTK auto-calibration (AUTOK) scheme for SDIO timing 
          calibration. This can only be enabled when you turn on MTK_MMC and 
          use MTK proprietary SDIO 3.0 device. Otherwise, say N.

config SDIOAUTOK_SUPPORT
	tristate "MediaTek SDIO UHS auto calibration support"
	depends on MTK_MMC
	default n
	help
	  Alternative name of MTK_SDIOAUTOK_SUPPORT. Some MTK platform use
	  this kerner config name instead of MTK_SDIOAUTOK_SUPPORT.
          This enables MTK auto-calibration (AUTOK) scheme for SDIO timing 
          calibration. This can only be enabled when you turn on MTK_MMC and 
          use MTK proprietary SDIO 3.0 device. Otherwise, say N.
